# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env

# Flask
instance/
.webassets-cache

# Data/Models
smart_traffic_web/uploads/
smart_traffic_web/model/*.pkl

# JS/Node (for clerk-javascript)
node_modules/
dist/
.DS_Store

# IDEs
.vscode/
.idea/
